<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Create an Email</title>
    </head>
    <body>
        <h1 class="title">Create your email:</h1>

        <form action="/" method="post">
            <button class="button settings" style="float: left; margin-left: 10%;" type="submit"><span>Home</span></button>
        </form>
        <div id="template">
            <div class="container">
                <form id = "template-form" action="/confirmation" method="post">
                    <label for="subject">Subject:</label>
                    <input type="text" id="subject" name="subject"><br><br>
                    <label for="sender">Sender:</label>
                    <input type="text" id="sender" name="sender" style="width: 50%;"><br><br>
                    <label for="template">Template:</label><br><br>
                    <textarea id="template" name="template" rows="25" cols="100"></textarea>
                    <input type="reset" value="Clear form">
               
            </div>
            
                <button id = "csv-submit" class="button next" style="float:right; margin-right: 10%;" type="submit"><span>Next</span></button>
            </form>

        </div>
    </body>
</html>