<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <title>Settings</title>
</head>
<body>
  <div class="title">
    <h1>Settings</h1>
  </div>
  <form action="/" method="post">
    <button class="button settings" style="float: left; margin-left: 10%;" type="submit"><span>Home</span></button>
  </form>
  <div class="container">
    <h2>Sender's Information</h2><br>
    <h3>Sender's Name: </h3> <input type="text" name="name" id="name"><br><br>
    <h3>Sender's Email Address</h3> <input type="text" name="address" id="name">
    <br><br>
    <button>Save</button>
    <button>Reset</button>
  </div>
</body>
</html>